<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="tree.css" />
    <script
      src="https://code.jquery.com/jquery-1.7.2.js"
      integrity="sha256-FxfqH96M63WENBok78hchTCDxmChGFlo+/lFIPcZPeI="
      crossorigin="anonymous"
    ></script>
    <script language="javascript" src="libs/angular.min.js"></script>
    
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header-icon">
          <i class="fas fa-bars"></i>
        </div>
      </div>
      <div class="main" ng-app="myApp" ng-controller="MainController">
        <div class="sidebar">
          <div class="sidebar-icon"></div>
          <div class="sidebar-content" ng-show="showContent">
            <div class="sidebar-content-header">
              <div class="perimetre">
                <a>Perimetre</a>
              </div>
              <div class="minimize-icon">
                <!-- <a ng-click="minimize()">-</a> -->
                <i
                  class="fa fa-window-minimize fa-xs"
                  aria-hidden="true"
                  ng-click="minimize()"
                ></i>
              </div>
            </div>
            <div class="sidebar-main">
              <div><a class="filtres">Filtres({{selected.val}})</a></div>
              <div class="addBtn"><a>+</a></div>
              <form ng-submit="search()">
                <input
                  type="text"
                  placeholder="Enter search"
                  ng-model="searchString"
                />
              </form>
              <div class="main-list">
                
                <ul style="list-style: none;">
                  
                  <li>
                    <div class="selectioner">
                    <input
                      ng-click="checkAll(tree)"
                      type="checkbox"
                      ng-checked="tree.checked" class="regular-checkbox sltbox"
                    />
                    <span style="font-weight: bold;" class="slttext">
                      Tout selectioner({{totalSite}})
                    </span>
                  </li>
                </div>
                </ul>
              
                <ul class="tree">
                  <organisation-tree children="tree"></organisation-tree>
                </ul>
              </div>
            </div>
          </div>
          <div class="sidebar-mini" ng-show="!showContent">
            <div>Perimetre</div>
            <div class="maximize-ic">
              <i class="fas fa-plus fa-xs" ng-click="minimize()"></i>
            </div>
          </div>
        </div>

        <div class="content"></div>
      </div>
    </div>
    <script src="app.js"></script>
    <script src="controllers/MainController.js"></script>
    <script src="services/MyService.js"></script>
    <script src="directives/TreeDirectives.js"></script>
    <script src="jq.js"></script>
  </body>
</html>
