<li ng-if="node.isMatched">
  <div class="site-raw">
    <input
      ng-click="checkNode(node)"
      type="checkbox"
      ng-checked="node.checked"
      class="regular-checkbox"
    />
    <!-- <span class="code">
      {{ node.code }} - {{node.name}}
    </span>
    <span class="address">
      {{node.address}}
    </span> -->
    <div class="code">
      <span class="incode">{{node.code}} - {{node.name}}</span>
    </div>
    <div class="address">
      <span class="inaddress">{{node.address}}</span>
    </div>
  </div>
</li>
